<div *ngIf="editUserForm" class="container">
    <div class="content">
        <div class="w-100 text-center">
            <h4>EDIT USER</h4>
        </div>
        <div class="row mt-3">
            <div class="col-6 offset-3">
                <form [formGroup]="editUserForm" (ngSubmit)="onSubmit(editUserForm)">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>ID</mat-label>
                            <input matInput [formControlName]="'id'" readonly>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput [formControlName]="'name'" required placeholder="Enter new name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput [formControlName]="'email'" type="text" placeholder="Enter new email">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <input matInput [formControlName]="'gender'" type="text" placeholder="Enter new gender">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Status</mat-label>
                            <input matInput [formControlName]="'status'" type="text" placeholder="Enter new status">
                        </mat-form-field>
                    </div>


                    <div class="justify-content-center">
                        <a>
                            <button mat-menu-item class="filterButton">Edit User</button>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>